<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.development.frostapp3" >

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PulsApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainFrostApp3"
            android:label="PulsApp"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigureTest"
            android:label="@string/title_activity_configure_test"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".helpPulsApp"
            android:label="@string/title_activity_help_puls_app"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
